* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#container button {
  margin: 30px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px none;
}
