* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  background-position: center;
  background: url("https://images.unsplash.com/photo-1703868673325-64d7d7afa618?q=80&w=4076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  width: 2100px;
  margin: auto;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.status_column {
  width: 310px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ebecf0;
  border-radius: 10px;
}
.task_card {
  width: 290px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  justify-content: space-around;
}
button {
  margin-left: 15px;
  margin-top: 15px;
}
.status_head {
  width: 100%;
  height: fit-content;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  gap: 20px;
  padding: 15px;
}
.add_card img {
  width: 20px;
  height: 20px;
}
.add_card {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 20px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  border-radius: 5px;
}
.add_card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
